<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainchain.arclight.mapper.KpMapper">
    <select id="nameCheck" resultType="int">
        SELECT COUNT(*)
        FROM games_now
        WHERE title = #{title}
          AND kp_qq = #{kp_qq}
    </select>

    <select id="getPlApplication" resultType="com.rainchain.arclight.entity.KpApproval">
        SELECT *
        FROM kp_approval
        WHERE id = #{id}
        AND qq in
        <foreach collection="qqs" item="qq" open="(" separator="," close=")">
            #{qq}
        </foreach>
    </select>

    <insert id="addGame" parameterType="com.rainchain.arclight.entity.Game" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO games_now (title, kp_name, kp_qq, groups, start_time, last_time, last_timeh, minper, maxper,
                               isfull, ob,
                               tags,
                               skills, tips, des, timestamp)
        VALUES (#{title},
                #{kp_name},
                #{kp_qq},
                #{groups,jdbcType=VARCHAR,typeHandler=com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler},
                #{start_time},
                #{last_time},
                #{last_timeh},
                #{minper},
                #{maxper},
                #{isfull},
                #{ob},
                #{tags},
                #{skills},
                #{tips},
                #{des},
                #{timestamp});

        INSERT INTO games_all (title, kp_name, kp_qq, groups, start_time, last_time, last_timeh, minper, maxper,
                               isfull, ob,
                               tags,
                               skills, tips, des, timestamp)
        VALUES (#{title}, #{kp_name}, #{kp_qq},
                #{groups,jdbcType=VARCHAR,typeHandler=com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler},
                #{start_time}, #{last_time}, #{last_timeh}, #{minper},
                #{maxper},
                #{isfull}, #{ob}, #{tags}, #{skills}, #{tips}, #{des}, #{timestamp});
    </insert>
    <update id="updateGame">
        UPDATE games_now
        SET title      = #{title},
            kp_name    = #{kp_name},
            kp_qq      = #{kp_qq},
            groups     =
                #{groups,jdbcType=VARCHAR,typeHandler=com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler},
            start_time = #{start_time},
            last_time  = #{last_time},
            last_timeh = #{last_timeh},
            minper     = #{minper},
            maxper     = #{maxper},
            isfull     = #{isfull},
            ob         = #{ob},
            tags       = #{tags},
            skills     = #{skills},
            tips       = #{tips},
            des        = #{des},
            timestamp  = #{timestamp}
        WHERE id = ${id};

        UPDATE games_all
        SET title      = #{title},
            kp_name    = #{kp_name},
            kp_qq      = #{kp_qq},
            groups     =
                #{groups,jdbcType=VARCHAR,typeHandler=com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler},
            start_time = #{start_time},
            last_time  = #{last_time},
            last_timeh = #{last_timeh},
            minper     = #{minper},
            maxper     = #{maxper},
            isfull     = #{isfull},
            ob         = #{ob},
            tags       = #{tags},
            skills     = #{skills},
            tips       = #{tips},
            des        = #{des},
            timestamp  = #{timestamp}
        WHERE id = ${id};

        INSERT INTO games_update (id, title, kp_name, kp_qq, groups, start_time, last_time, last_timeh, minper,
                                  maxper,
                                  isfull, ob,
                                  tags, skills, tips
            , des, update_time)
        VALUES (#{id}, #{title}, #{kp_name}, #{kp_qq},
                #{groups,jdbcType=VARCHAR,typeHandler=com.baomidou.mybatisplus.extension.handlers.FastjsonTypeHandler},
                #{start_time}, #{last_time}, #{last_timeh},
                #{minper},
                #{maxper},
                #{isfull}, #{ob}, #{tags}, #{skills}, #{tips},
                #{des}, #{update_time});
    </update>

    <delete id="deleteGames">
        DELETE
        FROM games_now
        WHERE kp_qq = #{kp_qq}
        AND id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>;

        UPDATE games_all
        SET delete_info = #{info}
        WHERE kp_qq = #{kp_qq}
        AND id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>;

        DELETE FROM kp_approval
        WHERE kp_qq = #{kp_qq}
        AND id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>;

        DELETE FROM pl_application
        WHERE kp_qq = #{kp_qq}
        AND id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            ${id}
        </foreach>;
    </delete>

    <insert id="addIrregularGame">
        INSERT INTO games_irregular (title, kp_qq, delete_time, des, category, keywords)
        VALUES (#{title}, #{kp_qq}, #{deleteTime}, #{des}, #{Label}, #{Keywords})
    </insert>

    <update id="removePlayers">
        UPDATE games_now
        SET players=
        <choose>
            <when test="players!=null and players.size()>0">
                #{players,jdbcType=VARCHAR,typeHandler=com.rainchain.arclight.mybatis.PlayersListTypeHandler}
            </when>
            <otherwise>
                '[]'
            </otherwise>
        </choose>
        ,
        timestamp = #{timestamp},
        isfull = #{isfull}
        WHERE id = ${id}
    </update>

    <update id="acceptPlayers">
        UPDATE games_now
        SET players=
        <choose>
            <when test="playersDb!=null and playersDb.size()>0">
                #{playersDb,jdbcType=VARCHAR,typeHandler=com.rainchain.arclight.mybatis.PlayersListTypeHandler}
            </when>
            <otherwise>
                '[]'
            </otherwise>
        </choose>
        ,
        isfull = #{isfull},
        timestamp = #{timestamp}
        WHERE id = ${id};

        DELETE FROM kp_approval
        WHERE id = ${id}
        AND qq in
        <foreach collection="qqs" item="qq" open="(" separator="," close=")">
            #{qq}
        </foreach>;

        UPDATE pl_application
        SET status = 1,
        timestamp = #{timestamp}
        WHERE id = ${id}
        AND qq in
        <foreach collection="qqs" item="qq" open="(" separator="," close=")">
            #{qq}
        </foreach>;
    </update>

    <update id="refusePlayers">
        UPDATE pl_application
        SET status = 2,
        timestamp = #{timestamp}
        WHERE id = ${id}
        AND qq in
        <foreach collection="qqs" item="qq" open="(" separator="," close=")">
            #{qq}
        </foreach>;

        DELETE FROM kp_approval
        WHERE id = ${id}
        AND qq in
        <foreach collection="qqs" item="qq" open="(" separator="," close=")">
            #{qq}
        </foreach>;
    </update>
</mapper>