<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainchain.arclight.mapper.UserMapper">

    <select id="searchIdGame" resultType="com.rainchain.arclight.entity.Game">
        SELECT *
        FROM games_now
        WHERE id = ${id}
    </select>

    <select id="searchGames" resultType="com.rainchain.arclight.entity.Game">
        SELECT *
        FROM games_now
        <where>
            <choose>
                <when test="id!=null and id.size()>0">
                    AND id IN
                    <foreach collection="id" item="id" open="(" separator="," close=")">
                        ${id}
                    </foreach>
                </when>
                <otherwise>
                    <choose>
                        <when test="kp_qq!=null">
                            AND kp_qq = #{kp_qq}
                        </when>
                        <otherwise>
                            <if test="title!=null">
                                AND title LIKE #{title}
                            </if>
                            <if test="last_timeh!=null">
                                AND #{last_timeh} >= last_timeh
                            </if>
                            <if test="start_time!=null">
                                AND #{start_time} >= start_time
                            </if>
                            <if test="minper!=null">
                                AND minper >= ${minper}
                            </if>
                            <if test="maxper!=null">
                                AND ${maxper} >= maxper
                            </if>
                            <if test="groups!=null and groups.size()>0">
                                AND
                                <foreach collection="groups" item="item" open="(ISNULL(restricted) OR " separator=" OR "
                                         close=")">
                                    restricted LIKE #{item}
                                </foreach>
                            </if>
                        </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </where>
        ORDER BY start_time LIMIT ${maxnum}
    </select>

</mapper>